.mat-drawer-content {
  @media #{$medium-only} {
    margin-left: 80px !important;
  }
  @media #{$large-and-up} {
    margin-left: 225px !important;
  }
  @media #{$small-and-down} {
    margin-left: 0px !important;
  }

  > div {
    // main column
    height: 100%;

    .mat-toolbar {
      background: mat-color($ccr-primary);
      box-shadow: 0 1px 0 mat-color($ccr-background, box-shadow);
      color: mat-color($ccr-primary, default-contrast);
      transition: all 0.75s cubic-bezier(0.35, 0, 0.25, 1);

      @media #{$medium-only} {
      }
      @media #{$small-and-down} {
        background: mat-color($ccr-primary, default-contrast);
        border-bottom: 1px solid mat-color($ccr-primary);
        color: mat-color($ccr-foreground, text);
      }
    }

    // row
    > div {
      height: calc(100% - #{$topnav-height} - #{$footer-height});
      position: relative;

      app-right-panel {
        display: block;
        overflow-x: hidden;
        overflow-y: auto;
        z-index: 3;

        transition: all 0.75s cubic-bezier(0.35, 0, 0.25, 1);
        width: 0;
        &.open {
          width: $right-panel-width;
        }
        @media #{$large-and-down} {
          position: absolute;
          bottom: 0;
          right: 0;
          top: 0;
          width: 0;
        }

        > :last-child {
          display: block;
          background-color: mat-color($ccr-primary, darker-contrast);
          box-shadow: -1px 0 0 mat-color($ccr-background, box-shadow);
          color: mat-color($ccr-foreground, text);
          margin-left: 15px;
          min-height: 100%;
          position: relative;
          width: $right-panel-width - 15px;
        }
        app-add-available {
          display: flex !important;

          .mat-select-placeholder {
            white-space: nowrap;
          }
        }
      }

      > div {
        // main container
        display: block;
        max-width: 100%;
        height: 100%;
        overflow-y: auto;
        @media #{$xlarge-and-up} {
          margin-right: -15px;
        }

        > :last-child {
          // main component
          display: block;
          flex: 1;
          overflow: hidden;
          position: relative; // wrap absolute positioned children

          @media #{$medium-and-down} {
            max-width: calc(100% - 40px);
            padding: 15px 20px 25px + $footer-height;
          }
          max-width: calc(100% - 80px);
          padding: 35px 40px 20px + $footer-height;

          .ccr-subcomponent {
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            position: relative;

            > :last-child {
              // sub component
              display: block;
              margin-top: 10px;

              @media #{$medium-and-down} {
                margin-top: 5px;
              }

              // FIXME adjustments
              > form:first-child {
                margin-top: 10px;
              }
            }
          }
        }
      }
    }
  }
}

.mat-availability {
  text-transform: uppercase;

  .mat-availability-action {
    align-self: center;
    min-width: 150px;
    width: auto;
  }

  .mat-availability-col {
    height: 32px;
    line-height: 32px;
    &:last-child {
      margin-left: -5px;
    }

    button {
      color: mat-color($ccr-foreground, icon);
      margin-top: -4px;
    }
  }

  .mat-availability-value {
    background-color: mat-color($ccr-primary, 50);
    line-height: 30px;
    padding: 0 10px;
  }

  .mat-availability-empty {
    color: mat-color($ccr-foreground, base, 0.6);
    text-transform: capitalize;
  }

  @media #{$small-and-down} {
    text-transform: none;
    font-size: 14px;
    .mat-button-focus-overlay {
      display: none !important;
    }

    .mat-availability-row {
      position: relative;
      border: 1px solid mat-color($ccr-foreground, divider);
      padding: 13px;
      &:nth-child(2n) {
        background-color: mat-color($ccr-background, odd);
      }
    }

    .mat-availability-col:last-child {
      margin-left: 0;
    }

    .mat-availability-title {
      text-transform: uppercase;
    }
    .ccr-icon-button {
      border: none !important;
      padding: 0 !important;
      font-weight: normal;
      span {
        text-decoration: underline;
      }
      mat-icon {
        display: none;
      }
    }
  }
}
