app-footer {
  position: fixed;
  height: $footer-height;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;

  background: mat-color($ccr-background, 'background');
  border-top: 1px solid mat-color($ccr-foreground, divider);
  color: mat-color($ccr-foreground, secondary-text);
  font-size: 80%;
  line-height: $footer-height;

  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0 25px;
    white-space: nowrap;

    @media #{$small-and-down} {
      justify-content: space-between;

      li {
        display: none;
      }
      li:first-child,
      li:last-child {
        display: block;
      }
    }
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}
