// FIXME check why does not override material styles
.mat-drawer {
  background-color: mat-color($ccr-primary, '900-contrast');
  box-shadow: 1px 0 0 mat-color($ccr-background, box-shadow);
  min-width: 0 !important;
  overflow: hidden !important;
  transition: all 0.75s cubic-bezier(0.35, 0, 0.25, 1) !important;
  width: $sidenav-width;

  &.open {
    width: 225px !important;
  }
  @media #{$medium-only} {
    width: 80px !important;
  }
  @media #{$small-and-down} {
    margin-top: $topnav-height;
    width: 0 !important;
  }
}

$base-padding: 16px;
$base-color-change: 2%;
app-sidenav {
  > .mat-toolbar {
    background: mat-color($ccr-primary, default-contrast);
    box-shadow: none;
    cursor: pointer;
    @media #{$small-and-down} {
      display: none;
    }
    .mat-toolbar-row {
      background: transparent url(/assets/logo.png) center center no-repeat;

      @media #{$medium-only} {
        background-image: url(/assets/logo-mark.png);
      }
    }
  }
  > mat-nav-list {
    position: fixed;
    bottom: $footer-height;
    left: 0;
    right: 0;
    top: $topnav-height;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 20px !important;
    padding-bottom: 20px;
    @media #{$medium-only} {
      padding: 0 !important;
    }
    @media #{$small-and-down} {
      bottom: $footer-height + $topnav-height;
      top: 0;
    }

    .mat-list-item {
      position: relative;
      transition: all 0.75s cubic-bezier(0.35, 0, 0.25, 1);
      &:focus {
        background: darken(
          mat-color($ccr-primary, '900-contrast'),
          $base-color-change * 3
        );
      }
      &:active,
      &:focus {
        outline: none;
      }

      .ccr-badge {
        position: absolute;
        // left: 25px;
        right: 19px;
        top: 13px;
      }

      &.level1 {
        // &.active > .mat-list-item-content {
        //   color: mat-color($ccr-foreground, base);
        //   font-weight: 600;
        // }
        text-transform: uppercase;
        &:hover {
          background: darken(
            mat-color($ccr-primary, '900-contrast'),
            $base-color-change * 3
          );
        }
      }
      &.level2 {
        &.active > .mat-list-item-content {
          background-color: darken(
            mat-color($ccr-primary, '900-contrast'),
            $base-color-change * 2.5
          );
          color: mat-color($ccr-foreground, base);
          font-weight: 600;
        }
        > .mat-list-item-content {
          height: 36px;
          padding-left: $base-padding * 1;
          background-color: darken(
            mat-color($ccr-primary, '900-contrast'),
            $base-color-change * 1
          );
          &:hover {
            background-color: darken(
              mat-color($ccr-primary, '900-contrast'),
              $base-color-change * 2
            );
          }
        }
        mat-icon.mat-icon.material-icons {
          padding-left: 15px;
          font-size: 15px;
          display: flex;
          align-items: center;
        }
      }

      > .mat-list-item-content {
        > span {
          flex: 1;
          margin-left: 10px;
          transition: inherit;
          @media #{$medium-only} {
            display: none;
          }
        }
        > i.material-icons {
          @media #{$medium-only} {
            display: none;
          }
        }
        > mat-icon {
          height: 18px;
          font-size: 18px;
          transition: inherit;
          @media #{$medium-only} {
            font-size: 26px;
            line-height: 46px;
            padding-left: 11px;
            height: 100%;
            width: 100%;
          }
        }

        -webkit-font-smoothing: antialiased;
        color: mat-color($ccr-foreground, text);
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.14px;
        line-height: 40px;
        transition: all 0.4s cubic-bezier(0.35, 0, 0.25, 1);
        padding: 0 16px;
        @media #{$medium-only} {
          padding-top: 10px;
          height: auto;
        }

        > i.material-icons:last-child {
          line-height: 40px;
          transition: 0.4s transform cubic-bezier(0.25, 0.8, 0.25, 1);
          &:before {
            content: 'keyboard_arrow_down';
          }
        }
      }
    }

    &.open mat-list-item {
      > .mat-list-item-content {
        > span,
        > i.material-icons {
          @media #{$medium-only} {
            display: inline-block;
          }
        }
        > mat-icon {
          @media #{$medium-only} {
            font-size: 18px;
            line-height: 22px;
            height: 18px;
            width: 18px;
          }
        }
      }
    }

    .active > .mat-list-item-content > i.material-icons:last-child {
      transform: rotate(180deg) translateZ(0);
    }

    .active:not(.nav-dropdown) > .mat-list-item:not(:hover) {
      background-color: darken(mat-color($ccr-primary, '900-contrast'), 4%) !important;
    }

    .nav-children {
      padding-top: 0;
      overflow: hidden;
      transition: height 0.75s cubic-bezier(0.35, 0, 0.25, 1);
      &:not(.active) {
        transition: height 0.75s cubic-bezier(0.35, 0, 0.25, 1);
        height: 0 !important;
      }
    }
  }
}
