.ccr-badge {
  border-radius: 15rem;
  font-size: 0.625rem;
  letter-spacing: 0.0625em;
  line-height: 1.1;
  text-transform: uppercase;
  padding: 0.25rem 0.4rem;
  vertical-align: middle;
  white-space: nowrap;

  background-color: mat-color($ccr-primary);
  color: mat-color($ccr-primary, default-contrast);

  &.ccr-color-info {
    background-color: mat-color($ccr-foreground, info);
    color: mat-color($ccr-background, info);
  }
  &.ccr-color-success {
    background-color: mat-color($ccr-foreground, success);
    color: mat-color($ccr-background, success);
  }
  &.ccr-color-warning {
    background-color: mat-color($ccr-foreground, warning);
    color: mat-color($ccr-background, warning);
  }
  &.ccr-color-error {
    background-color: mat-color($ccr-foreground, error);
    color: mat-color($ccr-background, error);
  }
}
