/**
 * Standard Heading.

<div class="ccr-heading">
  <div class="ccr-title" fxLayout="row" fxLayoutAlign=" end">
    <h2 fxFlex>{{'CTX.TITLE' | translate}}</h2>
  </div>
  <div class="ccr-htools" fxLayout="row" fxLayoutAlign=" center">
    <mat-form-field class="ccr-mini" floatPlaceholder="never">
      <mat-select placeholder="{{'CTX.FILTER' | translate}}" ...
    </mat-form-field>
    <ccr-paginator #paginator [length]="source.total" ...
  </div>
</div>
*/
.ccr-heading {
  margin-top: 35px;
  @media #{$small-and-down} {
    margin-top: 20px;
    > .mat-button {
      display: none;
    }
  }
  &:first-child {
    margin-top: 0 !important;
    > .ccr-name {
      padding-top: 0;
    }
  }

  > .mat-button {
    float: right;
  }
}

.ccr-title {
  margin-bottom: 10px;

  h2 {
    font-weight: 400;
    letter-spacing: -0.01em;
    line-height: 28px;
    margin: 0;
    text-align: left;
    @media #{$small-and-down} {
      text-align: center;
      width: 100%;
      word-wrap: break-word;
    }
  }

  .ccr-icon-button {
    @media #{$small-and-down} {
      min-width: 20px;
      margin-top: 7px;
      padding: 4px 5px 4px 3px;
      // .mat-button-wrapper > span {
      //   display: none;
      // }
    }
  }
}

.ccr-htools {
  margin-bottom: 10px;
  padding: 3px 3px 3px 12px;
  @media #{$small-and-down} {
    background: mat-color($ccr-background, tools);
    margin: 0;
  }
  > .mat-form-field {
    min-width: 160px;
    .mat-form-field-wrapper {
      border-bottom: 1px solid mat-color($ccr-foreground, divider);
    }
  }
}

/**
 * Name title.

<div class="ccr-name" fxLayout="row">
  <ccr-avatar size="big" [account]="account.id"></ccr-avatar>
  <h2 fxFlex>{{ entityName | capitalize }}</h2>
</div>
*/
.ccr-name {
  padding: 15px 0px;
  @media #{$medium-and-down} {
    padding-top: 0;
  }

  h2 {
    font-size: 32px;
    font-weight: 500;
    line-height: 70px;
    margin: 0;
    padding-left: 10px;
    white-space: nowrap;
  }
}

/**
 * Standard Tabs.

<div class="ccr-tabs" fxLayout="row" fxLayoutAlign=" stretch" fxLayoutGap="5px">
  <a fxFlex fxLayoutAlign="center center" ccrLinkActive="active" [routerLink]="['...']">...</a>
</div>
*/
.ccr-tabs {
  overflow-x: overlay;
  a {
    background-color: mat-color($ccr-background, header);
    color: mat-color($ccr-foreground, text);
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      background-color: darken(mat-color($ccr-background, header), 4%);
    }
    &.active {
      background-color: mat-color($ccr-primary);
      color: mat-color($ccr-primary, default-contrast);
    }
  }
}

/**
 * Center Tabs.

<ul class="ccr-tabs-center" fxLayout="row" fxLayoutAlign="center stretch">
  <li><a mat-button [class.active]="...">{{'CTX.TAB_TITLE' | translate}}</a></li>
</ul>
*/
.ccr-tabs-center {
  margin: 0;
  padding: 0;
  overflow-x: overlay;
  max-width: 100%;
  @media #{$small-and-down} {
    margin-bottom: 5px;
  }

  li {
    display: block;
    list-style-type: none;
    white-space: nowrap;

    .mat-button {
      min-width: auto;
      font-size: 18px;
      font-weight: 400;
      &.active {
        font-weight: 600;
      }
      @media #{$medium-and-down} {
        padding: 0 5px;
        font-size: 16px;
      }

      .mat-button-focus-overlay {
        background-color: mat-color($ccr-background, hover);
      }
    }

    &:not(:last-child):after {
      content: '|';
      font-size: 24px;
      font-weight: 300;
      margin: 0 7px 0 3px;
    }
  }
}

/**
 * Standard Button.
 * Always specify the material color.

<a mat-button color="warn" class="ccr-button" ...>...</a>
<button mat-raised-button color="primary" class="ccr-button" ...>...</button>
<a mat-button color="primary" class="ccr-icon-button" ...>
  <mat-icon>add</mat-icon>
  <span>{{'CTX.BUTTON' | translate}}</span>
</a>
*/
.mat-button {
  &.ccr-button,
  &.ccr-icon,
  &.ccr-icon-button {
    border-radius: $button-border-radius;
    border-width: 1px;
    border-style: solid;
    line-height: 28px;
    padding: 0 15px;

    .mat-button-wrapper > span {
      display: inline-block;
    }
    .mat-button-focus-overlay,
    .mat-button-ripple {
      border-radius: $button-border-radius;
    }
  }

  &.ccr-icon,
  &.ccr-icon-button {
    padding-left: 7px;
    mat-icon {
      height: 26px;
      width: 26px;
    }
  }
  &.ccr-icon {
    min-width: 26px;
    padding: 0 2px;
  }

  // coloring control
  &.ccr-button,
  &.ccr-icon,
  &.ccr-icon-button {
    @include _mat-button-focus-color($ccr-buttons);
    @include _mat-button-theme-color($ccr-buttons, 'color');
    @include _mat-button-ripple-color($ccr-buttons, default, 0.1);
  }
}

.mat-raised-button {
  &.ccr-button,
  &.ccr-icon-button {
    border-radius: $button-border-radius !important;
    .mat-button-focus-overlay,
    .mat-button-ripple {
      border-radius: $button-border-radius;
    }
  }
}

/**
 * Utils.
 */
.ccr-spacing {
  margin: 20px 0;
  @media #{$medium-and-down} {
    margin: 10px 0;
  }
}

.ccr-container {
  margin: 20px 0;
  text-align: center;
  position: relative;

  @media #{$medium-and-down} {
    margin: 10px 0;
  }
  &:first-child {
    margin-top: 0;
  }
}

.ccr-container-mini {
  margin: 10px 0;
  max-width: 100%;
  position: relative;

  @media #{$medium-and-down} {
    margin: 5px 0;
  }
  &:first-child {
    margin-top: 0;
  }
}

.ccr-dashboard-pane {
  min-height: 320px;
}

/**
 * Forms.
 */
.ccr-select-outline {
  .mat-input-element,
  .mat-select {
    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
    line-height: 33px;
    margin-bottom: 0;
    overflow: hidden; // avoid over width

    &:hover {
      background-color: mat-color($ccr-background, box-shadow);
    }
  }
  .mat-select-trigger {
    height: 28px;
    color: currentColor;
  }
  .mat-input-element,
  .mat-form-field-infix {
    padding: 0 10px;
    @media #{$medium-and-down} {
      padding: 0 5px;
    }
  }
  .mat-input-placeholder {
    color: inherit;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 35px;
    text-align: center;
    text-transform: none;
  }
}

.ccr-datepicker-colored {
  background-color: mat-color($ccr-primary, 50);
  line-height: 30px;

  .mat-form-field-wrapper {
    height: 30px;
  }
  .mat-form-field-wrapper {
    padding-bottom: 0;
  }
  .mat-form-field-infix {
    border-width: 0;
    padding: 0 12px;
  }
  .mat-form-field-underline {
    bottom: 0;
  }
  .mat-input-underline {
    background-color: transparent;
  }
}

.ccr-button-group {
  display: inline-flex;

  .mat-button {
    flex: 0 1 auto;
    padding: 0 7px;
    position: relative;
  }

  .mat-button,
  .mat-button .mat-button-ripple,
  .mat-button .mat-button-focus-overlay {
    border-radius: 15px;
  }

  .mat-button {
    &.active {
      background-color: mat-color($ccr-background, odd);
    }
    &:first-child:not(:last-child) {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      .mat-button-ripple,
      .mat-button-focus-overlay {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }
    }
    &:last-child:not(:first-child) {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      .mat-button-ripple,
      .mat-button-focus-overlay {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }
    }
  }

  .mat-button + .mat-button {
    margin-left: -1px;
  }
}

.ccr-form-row {
  .mat-slide-toggle {
    padding-bottom: 1em;
  }
}

.ccr-placeholder {
  .mat-form-field-placeholder,
  .mat-form-field-placeholder-wrapper {
    overflow: visible;
  }
}
