ccr-paginator {
  display: block;
  text-align: right;
  width: 100%;

  @media #{$small-and-down} {
    button {
      min-width: 40px !important;
      padding: 0;
      .mat-button-wrapper > span {
        display: none;
      }
    }
  }
}
