.ccr-chart {
  .ccr-container {
    min-height: 400px;
    @media #{$medium-and-up} {
      margin: 10px 0 0;
    }
  }

  @include selector_filter('center');

  .mat-button {
    background-color: mat-color($ccr-background, tools);
    height: 100%;
    padding: 1px 0;
  }
}

.ccr-chart-embedded {
  margin-top: -10px;
}
.mat-option.ccr-embedded {
  line-height: 36px;
  height: 36px;
}
