// maximize dialogs on mobile
.cdk-overlay-pane:not(.mat-datepicker-dialog) {
  @media #{$small-and-down} {
    position: fixed !important;
    width: 100vw !important;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.mat-dialog-container {
  margin: 0 auto;
  max-width: 100vw !important;
  // mat-dialog-separator requirement
  overflow: visible !important;

  .mat-dialog-separator {
    height: 25px;
    background-color: mat-color($ccr-primary);
    border-radius: 15px;
    margin: 0 -35px;
  }

  .mat-dialog-content {
    padding-top: 20px;
    margin-bottom: 5px;
    @media #{$small-and-down} {
      max-height: calc(100% - 140px);
    }
    .search-wrapper {
      width: 100%;
      position: relative;
      > ccr-icon-search {
        position: absolute;
        right: 12px;
        top: 5px;
      }
      .search-box {
        border: 1px solid mat-color($ccr-foreground, base);
        width: calc(100% - 57px);
      }
    }
    .mat-list-item {
      .mat-icon {
        color: mat-color($ccr-foreground, icon);
      }
    }
  }
}

.ccr-prompt {
  h3.mat-dialog-title {
    margin: 0;
  }
  .mat-dialog-content {
    padding: 10px 24px 5px;
  }
  .mat-dialog-actions:last-child {
    margin-bottom: -20px;
  }
}

.ccr-dialog {
  .mat-dialog-title {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: -8px 0 15px 0;
    user-select: none;

    > div:first-child {
      display: flex;
      align-items: center;
      > span {
        padding-left: 12px;
      }
    }

    span {
      text-transform: uppercase;
    }

    [matdialogclose] {
      background: none;
      border: 0;
      cursor: pointer;
      font-size: 12px;
      outline: none;
      mat-icon {
        font-size: 35px;
      }
    }
  }

  .mat-dialog-content {
    &.select-schedule {
      @media #{$medium-and-up} {
        .mat-form-field {
          width: 275px;
        }
      }
      @media #{$small-and-down} {
        .mat-form-field {
          width: 240px;
        }
      }
    }
  }

  .ccr-category {
    display: flex;
    line-height: 2rem;
    padding-bottom: 20px;
    @media #{$small-and-down} {
      font-size: 80%;
    }

    span {
      flex-grow: 1;
    }
    mat-radio-group {
      display: flex;
      flex-grow: 2;
      mat-radio-button {
        flex: 1;
      }
    }
  }

  .mat-form-field {
    margin-bottom: 0 !important;
  }

  .mat-dialog-actions {
    display: flex;
    justify-content: center;
  }
}
