.ccr-dashboard {
  margin: 5px 0 25px;
  overflow-x: auto;
  text-transform: uppercase;

  .stats {
    user-select: none;

    .metric-arrow > img {
      height: 30px;
    }
    .metric-number {
      color: mat-color($ccr-primary);
      font-size: 40px;
      line-height: 36px;
    }
    .metric-text {
      padding-left: 10px;
    }
  }

  .stats-big {
    border: 2px solid mat-color($ccr-foreground, dividers);
    border-radius: 5px;
    position: relative;
    user-select: none;

    > .mat-icon {
      color: mat-color($ccr-foreground, dividers);
      position: absolute;
      right: 5px;
      top: 5px;
    }

    > div {
      text-align: center;
    }
    .metric-heading {
      font-size: 75%;
      margin: 5px 7px;
      min-height: 3em;
    }
    .metric-number {
      color: mat-color($ccr-primary);
      font-size: 25px;
    }
    .metric-text {
      font-size: 65%;
      margin: 5px 7px;
      min-height: 3em;
    }

    .mat-form-field {
      width: 90px;
      .mat-form-field-wrapper {
        padding-bottom: 0em;
        .mat-input-underline {
          display: none;
        }
        .mat-form-field-infix {
          padding: 0px;
          border-top: 0px;
        }
      }
    }

    .metric-arrow {
      height: 20px;
    }

    .stat-not-available {
      color: mat-color($ccr-primary);
      height: 45%;
    }
    .phase-name {
      font-size: 16px;
      margin: -5px 0 5px;
    }

    .mat-select-value {
      font-weight: bold;
      padding-left: 7px;
      text-align: center;
    }
    .mat-select-arrow {
      border: none;
    }
  }
}
