.report-heading {
  mat-icon {
    height: 30px;
    width: 30px;
    font-size: 30px;
  }
  h4 {
    text-transform: uppercase;
    margin-left: 10px;
  }
}

.ccr-alerts {
  ccr-paginator {
    padding-bottom: 20px;
  }

  @include selector_filter('left');
}
