.ccr-table-picker {
  display: block;
  border: 1px solid transparent;
  margin-bottom: 1.296875em;

  .ccr-table {
    &.ccr-empty,
    &.ccr-errors,
    &.ccr-loading {
      min-height: 124px;
    }

    .ccr-overlay {
      mat-spinner {
        padding-top: 0;
      }
    }

    mat-table {
      mat-row {
        @media #{$small-and-down} {
          padding: 0 0 5px 0;
        }
      }

      .mat-column-actions {
        flex: 0 0 15%;
        @media #{$small-and-down} {
          min-width: 50px;
        }
      }

      mat-cell {
        &.mat-column-actions {
          span.ccr-picked,
          mat-icon.ccr-picked {
            color: mat-color($ccr-accent);
          }
        }
      }
    }
  }

  &.ng-invalid.ng-touched[required] {
    border-color: mat-color($ccr-warn);

    // mat-header-cell {
    //   &.mat-column-actions {
    //     border-bottom: 1px solid mat-color($ccr-warn);
    //   }
    // }

    .mat-column-actions {
      button .mat-icon {
        border: 1px solid mat-color($ccr-warn);
        border-radius: 14px;
      }
    }
  }
}
