html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

p {
  margin: 0 0 1em;
}
p:last-child {
  margin-bottom: 0;
}

[matsuffix] {
  color: mat-color($ccr-foreground, hint-text);
}

.hidden,
[hidden] {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
}

.clickable {
  cursor: pointer !important;
}

/**
 * Material Overrides
 */
.mat-toolbar {
  justify-content: center;
}

.mat-checkbox-layout .mat-checkbox-label {
  white-space: nowrap;
}

.mat-form-field,
.mat-select {
  flex: 1;
  width: auto;
}

.mat-form-field-placeholder,
.mat-select-placeholder {
  text-transform: uppercase;
  letter-spacing: 0.12rem;
}

.mat-header-cell {
  color: mat-color($ccr-foreground, text);
}

.mat-sort-header-container {
  align-items: center;
}

.mat-datepicker-content-touch {
  max-height: 100% !important;
}

.mat-list .mat-subheader:first-child,
.mat-nav-list .mat-subheader:first-child,
.mat-selection-list .mat-subheader:first-child {
  margin-top: 0 !important;
}

// customizations
.mat-form-field {
  &.ccr-mini {
    .mat-form-field-placeholder-wrapper {
      top: 0;
      padding-top: 0;
    }
    .mat-form-field-placeholder {
      top: 0;
    }
    .mat-form-field-wrapper {
      padding-bottom: 0;
      .mat-form-field-underline,
      .mat-form-field-subscript-wrapper {
        display: none;
      }
    }
    .mat-form-field-infix {
      border-top: none;
    }
  }
  &.ccr-iconfix {
    .mat-form-field-prefix,
    .mat-form-field-suffix {
      align-self: flex-end;
      padding: 0 0.2em 0.15em 0;
      .mat-icon {
        font-size: 100%;
        height: 18px;
      }
    }
  }
  &.ccr-filter,
  &.ccr-align-center {
    .mat-form-field-wrapper {
      padding-bottom: 20px;
      .mat-form-field-underline,
      .mat-form-field-subscript-wrapper {
        display: none;
      }
    }
    .mat-form-field-infix {
      border-top: none;
      padding: 0;
    }
  }
  &.ccr-align-center {
    .mat-input-element,
    .mat-select-value {
      text-align: center;
    }
  }
  &.ccr-filter {
    .mat-form-field-placeholder {
      line-height: 24px;
      padding-left: 15px;
      width: calc(100% - 15px - 18px); // - padding - arrow
    }
  }

  &.ccr-align-right {
    .mat-input-element,
    .mat-select-value {
      text-align: right;
    }
    [matsuffix] {
      padding-left: 10px;
    }
  }
}

.mat-option {
  &.ccr-align-right {
    text-align: right;
  }
  &.ccr-align-center {
    text-align: center;
  }
}
